.header {
  height: calc(var(--index) * 2.9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  background: rgb(33, 150, 243);
  padding-left: calc(var(--index) * 3);
  display: flex;
  align-items: center;
}
